@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background-color: rgb(0, 0, 0);
  margin: 0;
  font-family: "Inter", sans-serif;
}

/* Header Style */
header {
  background-color: rgb(0, 0, 0);
  background-image: url("/images/headerimage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 10vw 10vw 20vw 10vw;
  color: white;
  height: 250px;
  display: flex;
}

header .left {
  width: 85%;
}

header .right {
  width: 15%;
  text-align: right;
}

.hamburger {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

.headertitle {
  font-size: 10vw;
  background: -webkit-linear-gradient(180deg, #fbfa14, #eb7fe8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.headertagline {
  font-size: 3.5vw;
}

.button {
  background-color: black;
  font-size: 3vw;
  text-transform: uppercase;
  padding: 3vw;
  position: relative;
  top: 2vh;
  border-style: solid;
  border-width: 3px;
  border-image: linear-gradient(-60deg, #fbfa14, #eb7fe8) 1;
}

/* Body Style */
h3 {
  padding: 20px;
  color: white;
  justify-content: center;
  text-align: center;
}

/* Footer Style */
footer {
  background-color: rgb(58, 58, 58);
  padding: 20px;
  color: white;
}

nav {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  color: white;
  display: flex;
  align-items: flex-end;
}
text .info {
  width: 85%;
  text-align: right;
}
.footerheader {
  background-color: rgb(0, 0, 0);
  color: #AAAAAA;
  font-family: "Inter", sans-serif;
  font-size: 3.5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
image .flip {
  background-size: 150px;
  width: 300px;
  height: 300px;
  border: 2px solid;
}
}
a {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}